<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}WebEDI Hub Dashboard{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('../vendor/twitter/bootstrap/dist/css/bootstrap.min.css') }}" media="screen"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/generic.css') }}" />
        <script src="{{ asset('../vendor/components/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('../vendor/twitter/bootstrap/dist/js/bootstrap.min.js') }}"></script>        

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/datetimepicker/css/bootstrap-datetimepicker.min.css') }}" />
        <script src="{{ asset('bundles/datetimepicker/js/moment.min.js') }}"></script>
        <script src="{{ asset('bundles/datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>

        <script src="{{ asset('bundles/highcharts/js/highcharts.js') }}"></script>
        <script src="{{ asset('bundles/highcharts/js/modules/exporting.js') }}"></script>
        <script src="{{ asset('bundles/highcharts/js/modules/drilldown.js') }}"></script>
        <script src="{{ asset('bundles/highcharts/js/modules/data.js') }}"></script>
        
        <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.dataTables.min.css') }}" />
        <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('js/processing%28%29.js') }}"></script>
        <script src="{{ asset('js/dataTables.bootstrap.js') }}"></script>
        <script src="{{ asset('js/dataTables.bootstrap.min.js') }}"></script>

        
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/growl/css/jquery.growl.css') }}" />
        <script src="{{ asset('bundles/growl/js/jquery.growl.js') }}"></script>

        <script src="{{ asset('js/dashboard.js') }}"></script>

    </head>
    <body>
        {% if (app.session.get('sid')) == '' %}
            {# if the app wasn't called from WebEdi #}
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-header col-sm-6">
                    <div style="margin-left: -10px; float: left;">
                        <a href="{{ path('hub_dashboard_homepage') }}" tabindex="-1">
                            <img src="{{ asset('images/logo.png') }}" height="50px">
                        </a>
                    </div>
                    <div>
                        <a class="navbar-brand" href="{{ path('hub_dashboard_homepage') }}" tabindex="-1">
                            WebEDI Hub Dashboard
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download" title="{{ app.user.username }}">
                                <span class="glyphicon glyphicon-user"></span> {% if app.user.realname %}{{ app.user.realname }}{% else %}{{ app.user.username }}{% endif %}<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="download">
                                <li>
                                    <a id="adminLogout" href="{{ path('logout') }}" ><i class="glyphicon glyphicon-log-out"></i> Logout</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}
                   
        <div id="mainContainer" class="container col-sm-12" >
            <br>
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
        </body>
    </html>
