body {
    padding-top: 50px;
}

.scrollable-table-detail {
    height: 20vh !important;
    overflow-y: scroll;
}

.scrollable-main-table {
    height: 60vh !important;
    overflow-y: scroll;
}

.scrollable-supplier-list {
    height: 70vh !important;
    overflow-y: scroll;
}

.fixed-height {
    height: 30vh !important;
}

.scrollable-scorecard-table {
    height: 20vh !important;
    overflow-y: scroll;
}


div.dataTables_filter {
	text-align: right;
}

div.dataTables_filter label {
	font-weight: normal;
	white-space: nowrap;
	text-align: left;
}

div.dataTables_filter input {
	margin-left: 0.5em;
	display: inline-block;
}

table#tableSuppliers td {
    cursor: pointer;
    
}