{% extends '::base.html.twig' %}

{% block body -%}

        <div class="row">
            <div class="col-sm-4 col-lg-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Login</strong>
                    </div>
                    <div class="panel-body">
                        <form action="{{ path('_security_check') }}" method="post">
                            <div class="form-group">
                                <input type="text" id="username" name="_username" placeholder="Usermane" value="{{ last_username }}" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="password" id="password" name="_password" placeholder="Password" class="form-control" />
                            </div>

                            {#
                                If you want to control the URL the user
                                is redirected to on success (more details below)
                                <input type="hidden" name="_target_path" value="/account" />
                            #}

                            <button type="submit" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-log-in"></i>&nbsp;Login</button>
                        </form>
                    </div>
                </div>

                {% if error %}
                    <div class="alert alert-dismissable alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ error.message }}
                    </div>                
                {% endif %}

            </div>
        </div>

{% endblock %}