<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('../vendor/twitter/bootstrap/dist/css/bootstrap.min.css') }}" media="screen"/>
<link rel="stylesheet" type="text/css" href="{{ asset('css/generic.css') }}" />
<script src="{{ asset('../vendor/components/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('../vendor/twitter/bootstrap/dist/js/bootstrap.min.js') }}"></script> 

<link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.dataTables.min.css') }}" />
<script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('js/processing%28%29.js') }}"></script>
<script src="{{ asset('js/dataTables.bootstrap.js') }}"></script>
<script src="{{ asset('js/dataTables.bootstrap.min.js') }}"></script>
<style>
    .scrollable-table-detail-2 {
        height: 15vh !important;
        overflow-y: scroll;
    }
    .header-table {
        font-size: 14pt !important;
    }
</style>
<script type="text/javascript">
    function toggleDetail(that){
        $(that).next('div.panel:has(table.message_detail)').toggleClass('hidden');
    }
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        //alert(printContents);
        w=window.open();
        w.document.write(printContents);
        w.print();
        w.close();
   }
</script>
<table class="message_detail table table-condensed table-hover header-table">
    <tr>
        <th>PO:</th>
        <td>{{poReference}}</td>
        <th>{{docType}}:</th>
        <td>{{docReference}}</td>
    </tr>
    <tr>
        <th>Confirmation:</th>
        <td></td>
        <th>Date:</th>
        <td>
            {{ datemsg is empty ? "" : datemsg|date("m-d-Y")}}
        </td>
    </tr>
    <tr>
        <th>Vendor:</th>
        <td>{% if vendor is defined %}
                {{vendor}}
            {% endif %}
        </td>
        <th>Buyer-ID:</th>
        <td>{% if buyerID is defined %}
                {{buyerID}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Location:</th>
        <td colspan="3">{{docLocation}}</td>
    </tr>
</table>
<table class="message_detail table table-condensed table-hover">
    <tr>
        <th class="col-sm-1">Line</th>
        <th class="col-sm-1">Qty</th>
        <th class="col-sm-1">UOM</th>
        <th class="col-sm-2">Buyer Item #</th>
        <th class="col-sm-2">Vendor Part #</th>
        <th class="col-sm-2">Item Detail</th>
        <th class="col-sm-2">Line Status</th>
        <th class="col-sm-1">Price</th>
        <th class="col-sm-1">Extended Price</th>
    </tr>
{% for line,po1 in msgPO %}
    <tr>
        <td>{{po1['PO1']['1']}}</td>
        <td>{{po1['PO1']['2']}} 
            {% if po1['PO1ACK'] is defined %}
                {% if po1['PO1ACK']['2'] != po1['PO1']['2'] %}
                    <br/><span style="color: red">{{ po1['PO1ACK']['2'] }}</span>
                {% endif %}
            {% endif %}
        </td>
        <td>{{po1['PO1']['3']}}
            {% if po1['PO1ACK'] is defined %}
                {% if po1['PO1ACK']['3'] != po1['PO1']['3'] %}
                    <br/><span style="color: red">{{ po1['PO1ACK']['3'] }}</span>
                {% endif %}
            {% endif %}
        </td>
        <td>{{po1['PO1']['7']}}</td>
        <td>{{po1['PO1']['9']}}</td>
        <td>{% if po1['PID']['5'] is defined %}
                {{po1['PID']['5']}}
            {% endif %}
        </td>
        <td>{% if po1['ACK'] is defined %}
                <span style="color: red">{{po1['ACK']['status']}}</span>
            {% endif %}
        </td>
        <td>${{po1['PO1']['4']}}
            {% if po1['PO1ACK'] is defined %}
                {% if po1['PO1ACK']['4'] != po1['PO1']['4'] %}
                    <br/><span style="color: red">${{ po1['PO1ACK']['4'] }}</span>
                {% endif %}
            {% endif %}
        </td>
        <td>${{po1['PO1']['4'] * po1['PO1']['2']}}
            {% if po1['PO1ACK'] is defined %}
                {% if po1['PO1ACK']['4'] != po1['PO1']['4'] or po1['PO1ACK']['2'] != po1['PO1']['2']  %}
                    <br/><span style="color: red">${{ po1['PO1ACK']['4'] * po1['PO1ACK']['2'] }}</span>
                {% endif %}
            {% endif %}
        </td>
    </tr>
    {% if po1['PO1ACK'] is defined and po1['ACK'] is defined %}
    <tr>
        <td colspan="10">
            <button class="btn btn-xs btn-default" onclick="toggleDetail(this);" ><span class="expand_detail glyphicon glyphicon-list" data-toggle="tooltip" data-placement="right" title="" data-original-title="Show/Hide ACK Details"></span>
                ACK Details
            </button>
            <div class="panel panel-default scrollable-table-detail-2 hidden">
                <table class="message_detail table table-condensed table-hover">
                    <tr>
                        <th class="col-sm-1">Doc</th>
                        <th class="col-sm-1">Datetime Recieved</th>
                        <th class="col-sm-1">Status</th>
                        {% if po1['ACK']['ACK04'] != '' %}
                            <th class="col-sm-1">Date - {{po1['ACK']['ACK04']}}</th>
                        {% endif %}
                        <th class="col-sm-1">Qty</th>
                        <th class="col-sm-1">UOM</th>
                        <th class="col-sm-1">Vendor Part #</th>
                        <th class="col-sm-1">Price</th>
                        <th class="col-sm-1">Extended Price</th>
                    </tr>
                    <tr>
                        <td>855 POA</td>
                        <td>
                            {{ datemsg is empty ? "" : datemsg|date("m-d-Y")}}
                        </td>
                        <td><span style="color: red">{{po1['ACK']['status']}}</span></td>
                        {% if po1['ACK']['ACK04'] != '' %}
                            <td>{{po1['ACK']['ACK05'] is empty ? "" : po1['ACK']['ACK05']}}</td>
                        {% endif %}
                        <td>{{po1['ACK']['2']}}</td>
                        <td>{{po1['PO1ACK']['3']}}</td>
                        <td>{{po1['PO1ACK']['7']}}</td>
                        <td>${{po1['PO1ACK']['4']}}</td>
                        <td>${{po1['PO1ACK']['4'] * po1['PO1ACK']['2']}}</td>
                    </tr>
                </table>
            </div>
            <br/>
        </td>
    </tr>
    {% endif %}
{% endfor %}
</table>
<div class="modal-footer" style="clear:both !important">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" onclick="printDiv('toprint-discrepancies')">Print</button>
</div>
<div id="toprint-discrepancies" style="display:none">
    <link rel="stylesheet" type="text/css" href="{{ asset('../vendor/twitter/bootstrap/dist/css/bootstrap.min.css') }}" media="print"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/generic.css') }}" media="print"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.dataTables.min.css') }}" media="print"/>
    <style>
    @media print
    {
        .all {
            color: #333;
            background-color: #fff;
        }
        .message_detail {
            width: 100%;
            text-align: left;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            background-color: #fff;
        }
        .title {
            font-weight: bolder;
        }
        .title-1 {
            font-weight: bolder;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            text-align: center;
            font-size: 16px;
        }
    }
    </style>
    <div class="title-1">{{docType}} DISCREPANCIES</div><br/><br/>
    <table class="message_detail table table-condensed table-hover">
        <tr>
            <td class="title">PO:</td>
            <td>{{poReference}}</td>
            <td class="title">{{docType}}:</td>
            <td>{{docReference}}</td>
        </tr>
        <tr>
            <td class="title">Confirmation:</td>
            <td></td>
            <td class="title">Date:</td>
            <td>
                {{ datemsg is empty ? "" : datemsg|date("m-d-Y")}}
            </td>
        </tr>
        <tr>
            <td class="title">Vendor:</td>
            <td>{% if vendor is defined %}
                    {{vendor}}
                {% endif %}
            </td>
            <td class="title">Buyer-ID:</td>
            <td>{% if buyerID is defined %}
                    {{buyerID}}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="title">Location:</td>
            <td colspan="3">{{docLocation}}<td>
        </tr>
    </table>
    <br/><br>            
    {% for line,po1 in msgPO %}
    <table class="message_detail table table-condensed table-hover">
        <tr>
            <td class="title">Line</td>
            <td>{{po1['PO1']['1']}}</td>
            <td class="title">Buyer Item #</td>
            <td>{{po1['PO1']['7']}}</td>
            <td class="title">Vendor Part #</td>
            <td>{{po1['PO1']['9']}}</td>
        </tr>
        <tr>
            <td class="title">Item Detail</td>
            <td colspan="5">
                {% if po1['PID']['5'] is defined %}
                    {{po1['PID']['5']}}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="title">Date</td>
            <td>
                {{ datemsg is empty ? "" : datemsg|date("m-d-Y")}}
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="title">Exception</td>
            <td colspan="5">
                {% if po1['ACK'] is defined %}
                    {{po1['ACK']['status']}}
                    {% if po1['ACK']['ACK04'] != '' %}
                        &nbsp; &nbsp; &nbsp; <span class="title">Date - {{po1['ACK']['ACK04']}}:</span> &nbsp; {{po1['ACK']['ACK05'] is empty ? "" : po1['ACK']['ACK05']}}
                    {% endif %}
                {% endif %}
                
            </td>
        </tr>
        {% if po1['PO1ACK'] is defined %}
            <tr>
                <td class="title">Submitted</td>
                <td>Qty: {{po1['PO1']['2']}} <br/>UOM: {{po1['PO1']['3']}} <br/>Price: ${{po1['PO1']['4']}}</td>
                <td class="title">Confirmed</td>
                <td>Qty: {{po1['PO1ACK']['2']}} <br/>UOM: {{po1['PO1ACK']['3']}} <br/>Price: ${{po1['PO1ACK']['4']}}</td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
        </table><br/><br/>
    {% endfor %}    
</div>