<style>
    .header td { font-weight: bolder; }
    .data td.exception { background-color: red }
</style>
<table>
    <tr class="header">
        <td style="background-color: black;color: white;"> {{orig_doctype}} Reference</td>
        <td style="background-color: black;color: white;"> {{change_doctype}} Reference</td>
        <td style="background-color: black;color: white;"> Confirmation</td>
        <td style="background-color: black;color: white;"> Date</td>
        <td style="background-color: black;color: white;"> Vendor</td>
        <td style="background-color: black;color: white;"> Buyer</td>
        <td style="background-color: black;color: white;"> Line</td>
        <td style="background-color: black;color: white;"> QTY_{{orig_doctype}}</td>
        <td style="background-color: black;color: white;"> QTY_{{change_doctype}}</td>
        <td style="background-color: black;color: white;"> UOM_{{orig_doctype}}</td>
        <td style="background-color: black;color: white;"> UOM_{{change_doctype}}</td>
        <td style="background-color: black;color: white;"> Buyer Item #</td>
        <td style="background-color: black;color: white;"> Vendor Part#_{{orig_doctype}}</td>
        <td style="background-color: black;color: white;"> Vendor Part#_{{change_doctype}}</td>
        <td style="background-color: black;color: white;"> Item Detail</td>
        <td style="background-color: black;color: white;"> Line Status</td>
        <td style="background-color: black;color: white;"> Date-Current Scheduled Ship</td>
        <td style="background-color: black;color: white;"> Price</td>
        <td style="background-color: black;color: white;"> Price Change</td>
        <td style="background-color: black;color: white;"> Extended Price</td>
        <td style="background-color: black;color: white;"> Extended Price Change</td>
    </tr>
    {% for row in data %}
        <tr class="data">
            <td>{{ row.poreference }}</td>
            <td>{{ row.poackreference }}</td>
            <td>{{ row.poconfirmation997 }}</td>
            <td>{{ row.date }}</td>
            <td>{{ row.vendorname }}</td>
            <td>{{ row.buyername }}</td>
            <td>{{ row.linenumber }}</td>
            <td>{{ row.qty850 }}</td>
            <td {% if row.qty850 != row.qty855 %}style="background-color: red"{%endif%}>{{ row.qty855 }}</td>
            <td>{{ row.uom850 }}</td>
            <td {% if row.uom850 != row.uom855 %}style="background-color: red"{%endif%}>{{ row.uom855 }}</td>
            <td>{{ row.buyeritem }}</td>
            <td>{{ row.vendorpart850 }}</td>
            <td {% if row.buyeritem != row.vendorpart855 %}style="background-color: red"{%endif%}>{{ row.vendorpart855 }}</td>
            <td>{{ row.itemdetail }}</td>
            <td {% if row.idstatus not in ['IA', 'AR','AC'] %}style="background-color: red"{%endif%}>{{ row.status }}({{row.idstatus}})</td>
            <td>{{ row.datecurrentship }}</td>
            <td>{{ row.price }}</td>
            <td {% if row.price != row.pricechange %}style="background-color: red"{%endif%}>{{ row.pricechange }}</td>
            <td>{{ row.extendedprice }}</td>
            <td {% if row.extendedprice != row.extendedpricechange %}style="background-color: red"{%endif%}>{{ row.extendedpricechange }}</td>
        </tr>
    {% endfor %}
</table>
