{% extends '::base.html.twig' %}

{% block body %}
    
    <div class="row">
        <form id="formFilter" name="formFilter" action="." method="post">
            <div class="form-group col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">Report</span>
                    <select id="report" name="report" class="form-control input-sm">
                        <option value="scorecard">Scorecard</option>
                        <option value="po-ack-discr">PO (850) - PO Ack (855) Discrepancies</option>
                        <option value="po-asn-discr">PO (850) - ASN (856) Discrepancies</option>
                        <option value="po-inv-discr">PO (850) - Invoice (810) Discrepancies</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <div class="input-group date" id="datetimepicker1">
                    <span class="input-group-addon">From</span>
                    <input type="text" id="dateFrom" name="dateFrom" class="form-control input-sm" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <div class="input-group date" id="datetimepicker2">
                    <span class="input-group-addon">to</span>
                    <input type="text" id="dateTo" name="dateTo" class="form-control input-sm" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="form-group col-sm-2">
                <button id="loadReport" type="button" class="btn btn-sm btn-primary btn-group-justified"><i class="glyphicon glyphicon-filter"></i> Filter</button>
            </div>
        </form>
    </div>
    
    <div class="row">
        <div class="col-sm-12" style="display: none;">
            <div id="initMessage" class="alert alert-info" role="alert"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="loadResultMessage" class="alert alert-danger" role="alert" style="display: none;"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>&nbsp;</b>
                    <div class="pull-right">
                        <button id="chartBack" class="btn btn-xs btn-default" style="display:none;" data-backid=""><i class="glyphicon glyphicon-chevron-left"></i> Back</button>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="mainChart" class="col-sm-6" style="display: none">

                    </div>
                    <div id="tableContainer" class="col-sm-6 scrollable-main-table" style="display: none">

                    </div>
                    <div class="col-sm-12">
                        <div id="progressBar" class="progress progress-striped active" style="display: none;">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Discrepancy Details</h4>
          </div>
          <div class="modal-body">

          </div>          
        </div>
      </div>
    </div>
    
    <input type="hidden" id="customer"/>
    <input type="hidden" id="date"/>

    <!-- Exception Report Form -->
    {# if (app.user.partnerId) == '2825' #} <!-- Only for CHA Customer -->
        <div align="center">
            <button type="button" name="exceptionReportButton" id="exceptionReportButton" class="btn btn-success" data-toggle="modal" data-target="#exception_report">Generate On-Demand Exception Report</button>
        </div>
    {# endif #}
    <br>
    <div id="exception_report" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" id="reportTitle">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"><b>On-Demand Exception Report</b></h4>
                  <h5></h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Date Options</span>
                            <select id="date_options_exception" name="date_options_exception" class="form-control input-sm">
                                <option value="1" selected>Current Day</option>
                                <option value="2">Yesterday</option>
                                <option value="3">Current Week</option>
                                <option value="4">Past Week</option>
                                <option value="5">Current Month</option>
                                <option value="6">Last Month</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Filter Options</span>
                            <select id="filter_options_exception" name="filter_options_exception" class="form-control input-sm">
                                <option value="1" selected>All Exceptions</option>
                                <option value="2">Buyer Specific Exceptions</option>
                                <option value="3">By Supplier</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="div_buyer">
                        <div class="input-group">
                            <span class="input-group-addon">Buyer</span>
                            <select id="buyer_specific" name="buyer_specific" class="form-control input-sm">
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="div_supplier">
                        <div class="input-group">
                            <span class="input-group-addon">Supplier</span>
                            <select id="supplier_specific" name="supplier_specific" class="form-control input-sm">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" name="download_exception_report" id="download_exception_report">Download Report</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    
<script type="text/javascript">
    var chart;
    $(document).ready(function(){
        $('#initMessage').html('<i class="glyphicon glyphicon-info-sign"></i> Select a report and a date interval then click the Filter button.').fadeIn(300).delay(5000).fadeOut(500);
        $("#div_buyer").hide();
        $("#div_supplier").hide();
        
        var today = new Date();
        var todayS = today.toLocaleDateString();//(today.getUTCMonth() +1) + '/' + today.getUTCDate() + '/' + today.getUTCFullYear();
        
        var aMonthAgo = new Date();
        aMonthAgo.setMonth(today.getMonth()-1);
        aMonthAgo = aMonthAgo.toLocaleDateString();//(today.getUTCMonth()) + '/' + today.getUTCDate() + '/' + today.getUTCFullYear();

        var aYearAgo = new Date();
        aYearAgo.setMonth(today.getMonth()-24);
        aYearAgo = aYearAgo.toLocaleDateString();//(today.getUTCMonth() +1) + '/' + today.getUTCDate() + '/' + (today.getUTCFullYear() -1);
        
        {% if dateFrom is defined and dateFrom is not empty %}
            var date1 = '{{ dateFrom }}';
        {% else %}
            var date1 = aMonthAgo;
        {% endif %}

        {% if dateTo is defined and dateTo is not empty %}
            var date2 = '{{ dateTo }}';
        {% else %}
            var date2 = todayS;
        {% endif %}

        $('#datetimepicker1').datetimepicker({
            pickTime: false,
            maxDate: date2,
            minDate: aYearAgo,
            defaultDate: date1
        });

        $('#datetimepicker2').datetimepicker({
            pickTime: false,
            maxDate: date2,
            minDate: aYearAgo,
            defaultDate: date2
        });
        
        /*
        $("#datetimepicker1").on("dp.change",function (e){
            $('#datetimepicker2').data("DateTimePicker").setMinDate(e.date);
        });
        $("#datetimepicker2").on("dp.change",function (e){
            $('#datetimepicker1').data("DateTimePicker").setMaxDate(e.date);
        });
        */
       
        {% if report is defined and report is not empty %}
            $('#report').val('{{ report }}');
        {% endif %}
            
        $('#report').change(function(){
            if($(this).find(':selected').val() === 'scorecard'){
                window.location = '{{ path('hub_dashboard_homepage') }}';
            }else{
                loadReport(getReportURL($("#report").val(), 'sup'), onClickDiscrXCust);
            }
        });
        
        $('#loadReport').click(function(){
            loadReport(getReportURL($("#report").val(), 'sup'), onClickDiscrXCust);
        }).click();
        
        $("#myModal").on("show.bs.modal", function(e) {
            $(this).find(".modal-body").html("<div style='text-align:center'><img class='expand_progress' src='{{ asset('images/ajax-loader.gif') }}' alt='Loading...' id='loading-modal'>&nbsp; Loading...</div>");
            var link = $(e.relatedTarget);
            var msgids = link.attr("href").split(":");
            $(this).find(".modal-body").load(getDiscURL(msgids[0],msgids[1]));
        });

        //On-Demand Exception Report
        $('#exceptionReportButton').click(function(){
            $('div#reportTitle h5').html($("#report").find('option:selected').text());
            $('#date_options_exception').val(1);
            $('#filter_options_exception').val(1);
            $('#buyer_specific').html('');
            $('#supplier_specific').html('');
            $("#div_buyer").hide();
            $("#div_supplier").hide();  
            
            $.ajax({
                type: 'POST',
                url: '{{ path('exception_report_buyers') }}',
                dataType: 'json',
                beforeSend: function(){
                    //$('#progressBar').fadeIn(300);

                },
                success: function(data){
                    $.each(data, function(i, value) {
                        $('#buyer_specific').append($('<option>').text(value).attr('value', value));
                    });
                },
                error: function(x, e, msg){
                    //$('#loadResultMessage').html('<span class="glyphicon glyphicon-remove-sign"></span> <b>'+e+':</b> '+msg).fadeIn(300).delay(5000).fadeOut(500);
                    $.growl.error({ title: e, message: msg });
                },
                complete: function(){
                },
            });
    
            $.ajax({
                type: 'POST',
                url: '{{ path('exception_report_suppliers') }}',
                dataType: 'json',
                beforeSend: function(){
                    //$('#progressBar').fadeIn(300);

                },
                success: function(data){
                     $.each(data, function(i, value) {
                        $('#supplier_specific').append($('<option>').text(value['name']).attr('value', value['tp']));
                    });
                },
                error: function(x, e, msg){
                    //$('#loadResultMessage').html('<span class="glyphicon glyphicon-remove-sign"></span> <b>'+e+':</b> '+msg).fadeIn(300).delay(5000).fadeOut(500);
                    $.growl.error({ title: e, message: msg });
                },
                complete: function(){
                },
            });    
        });
        
        $('#download_exception_report').click(function () {
            var date = $('#date_options_exception').val();
            var filter = $('#filter_options_exception').val();
            var buyer = $('#buyer_specific').val();
            var supplier = $('#supplier_specific').val();
            var report_type = $('#report').val();
            var url = getExceptionReportURL(date,filter,buyer,supplier,report_type);
            window.location = url;
        });        

        $('#filter_options_exception').change(function(){
            if($(this).find(':selected').val() === '1'){
                $("#div_buyer").hide();
                $("#div_buyer").val('');
                $("#div_supplier").hide(); 
                $("#div_supplier").val('');
            }
            else if($(this).find(':selected').val() === '2'){
                $("#div_buyer").show();
                $("#div_supplier").hide(); 
                $("#div_supplier").val('');
            }    
            else if($(this).find(':selected').val() === '3'){
                $("#div_buyer").hide();
                $("#div_buyer").val('');
                $("#div_supplier").show();                
            }
        });
    });

    function getReportURL(report, subreport, serieID){
        var url = '{{ path('load_report', { 'report': '@report', 'subreport': '@subreport', 'dateFrom': '@date1', 'dateTo': '@date2', 'serieID': '@serieid', 'parentSerieID': '@parentserieid' }) }}';
        url = url.replace('@report', report);
        url = url.replace('@subreport', subreport);
        url = url.replace('@date1', $("#dateFrom").val().replace(/\//g,'-'));
        url = url.replace('@date2', $("#dateTo").val().replace(/\//g,'-'));
        url = url.replace('@serieid', serieID ? serieID : '-1');
        url = url.replace('@parentserieid', $('#chartBack').data('backid') ? $('#chartBack').data('backid') : '-1');
        return url;
    }
    
    function getDiscURL(poid, docid){
        var url = '{{ path('detail_discr', { 'orderid': '@poid', 'docid': '@docid' }) }}';
        url = url.replace('@poid', poid);
        url = url.replace('@docid', docid);
        return url;
    }
    
    
    function onClickDiscr(e){
        loadReport(getReportURL($("#report").val(), 'sup'), onClickDiscrXCust);
        $('#customer').val('');
    }
    

    function onClickDiscrXCust(e){
        var serieID;
        if(e.data === null){
            serieID = e.point.id;
        }else{
            serieID = e.data.serieID;
        }
        loadReport(getReportURL($("#report").val(), 'cust', serieID), onClickDiscrXCustDetail, serieID, onClickDiscr);
        $('#customer').val(serieID);
        $('#date').val('');
    }
    

    function onClickDiscrXCustDetail(e){
        var serieID;
        if(e.data === null){
            serieID = e.point.id;
        }else{
            serieID = e.data.serieID;
        }
        loadReport(getReportURL($("#report").val(), 'cust-detail', serieID), onClickDiscrXCustDetailMessages, serieID, onClickDiscrXCust);
        $('#date').val(serieID);
    }
    
    
    function onClickDiscrXCustDetailMessages(e){
        var val = parseInt($(e.target).parents('tr').find('td:eq(2)').html());
        var descr = $(e.target).parents('tr').find('td:eq(1)');
        if(val===0 && descr.find('.expand_detail').length === 0){
            descr.append('  <span class="expand_detail glyphicon glyphicon-minus-sign" data-toggle="tooltip" data-placement="right" title="" data-original-title="No messages in this category"></span>');
            return;
        };
        var elementIndex = e.data.serieID.substring( e.data.serieID.indexOf('(')+1, e.data.serieID.indexOf(')') );
        elementIndex = elementIndex.length > 0 ? elementIndex.substr(elementIndex.indexOf('0')+1, 1) : '-1';
        
        
        console.log(e.data.serieID);
        
        if(elementIndex === '-1'){
            if(e.data.serieID === 'No Shipping'){
                elementIndex = '-2';
            }else if(e.data.serieID === 'Late Shipping'){
                elementIndex = '-3';
            }
        }
        $.ajax({
            url: '{{ path('get_messages', { 'report': '@report', 'xdate': '@xdate', 'customer': '@customer', 'elementIndex': '@elementIndex' }) }}'
                    .replace('@report', $("#report").val())
                    .replace('@xdate', $('#date').val())
                    .replace('@customer', $('#customer').val())
                    .replace('@elementIndex', elementIndex),
            beforeSend: function(){
                //$('#progressBar').fadeIn(300);
                $('#tableContainer > table > tbody > tr').each(function(){
                    var td = $(this).find('td:eq(1)');
                    if(td.html() === e.data.serieID){
                        td.append('  <img class="expand_progress" src="{{ asset('images/ajax-loader.gif') }}" alt="Loading..." id="loading">');
                        $(this).unbind('click');
                    }
                });
            },
            success: function(data){
                var table = '  <span class="expand_detail glyphicon glyphicon-minus-sign" data-toggle="tooltip" data-placement="right" title="" data-original-title="No messages in this category"></span>';
                if(data.body && data.body.length > 0){                      
                    table = '  <button class="btn btn-xs btn-default" onclick="toggleDetail(this);" ><span class="expand_detail glyphicon glyphicon-list" data-toggle="tooltip" data-placement="right" title="" data-original-title="Show/hide messages"></span></button>';
                    table += '<div class="panel panel-default scrollable-table-detail">';
                    table += '<table class="message_detail table table-condensed table-hover">';
                    table += '<tr '+data.onclick+'>';
                    table += '<th class="col-sm-1">#</th>';
                    table += '<th class="col-sm-2">'+data.header.id1+'</th>';
                    table += '<th class="col-sm-2">'+data.header.val1+'</th>';
                    table += '<th class="col-sm-1"></th>';
                    table += '<th class="col-sm-2">'+data.header.id2+'</th>';
                    table += '<th class="col-sm-2">'+data.header.val2+'</th></tr>';
                    table += '</tr>';
                    for(var i=0; i<data.body.length; i++){ 
                        var row = '<tr>';
                        row += '<td class="text-right">' + (i+1) + '</td>';
                        row += '<td class="text-center">' + data.body[i].id1 + '</td>';
                        row += '<td class="text-info text-right">' + data.body[i].val1 + '</td>';
                        row += '<td></td>';
                        row += '<td class="text-center">' + data.body[i].id2 + '</td>';
                        row += '<td class="text-danger text-right">' + data.body[i].val2 + '</td>';
                        row += '</tr>';
                        table += row;
                    }
                    table += '</table></div>';
                }

                $('#tableContainer > table > tbody > tr').each(function(){
                    var td = $(this).find('td:eq(1)');
                    if((elementIndex === '2' && td.html().indexOf('02') > -1) ||
                            (elementIndex === '3' && td.html().indexOf('03') > -1) ||
                            (elementIndex === '4' && td.html().indexOf('04') > -1) ||
                            (elementIndex === '5' && td.html().indexOf('05') > -1) ||
                            (elementIndex === '-2' && td.html().indexOf('No Shipping') > -1) ||
                            (elementIndex === '-3' && td.html().indexOf('Late Shipping') > -1)
                        ){
                        if(td.find('.expand_detail').length === 0){
                            td.find('.expand_progress').remove();
                            td.append(table);
                            //$(this).unbind('click');
                        }
                    }
                });
                
                $('.expand_detail').tooltip();
            },
            error: function(x, e, msg){
                //$('#loadResultMessage').html('<span class="glyphicon glyphicon-remove-sign"></span> <b>'+e+':</b> '+msg).fadeIn(300).delay(5000).fadeOut(500);
                $.growl.error({ title: e, message: msg });
            },
            complete: function(){
                //$('#progressBar').fadeOut(300);
            },
        });
    }
    
    function toggleDetail(that){
        $(that).next('div.panel:has(table.message_detail)').toggleClass('hidden');
    }
        
    // Exception Report
    function getExceptionReportURL(date, filter, buyer, supplier,report_type){
        var url = '{{ path('exception_report', {'report_type':'@report_type','date': '@date', 'filter': '@filter', 'buyer': '@buyer', 'supplier': '@supplier' }) }}';
        url = url.replace('@date', date);
        url = url.replace('@filter', filter);
        url = url.replace('@buyer', buyer);
        url = url.replace('@supplier', supplier);
        url = url.replace('@report_type', report_type);
        return url;
    }

</script>

{% endblock %}
