{% extends '::base.html.twig' %}

{% block body %}

    <div class="row">
        <form id="formFilter" name="formFiter" action="." method="post">
            <div class="form-group col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">Report2sss</span>
                    <select id="report" name="report" class="form-control input-sm">
                        <option value="scorecard">Scorecard</option>
                        <option value="po-ack-discr">PO (850) - PO Ack (855) Discrepancies</option>
                        <option value="po-asn-discr">PO (850) - ASN (856) Discrepancies</option>
                        <option value="po-inv-discr">PO (850) - Invoice (810) Discrepancies</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <div class="input-group date" id="datetimepicker1">
                    <span class="input-group-addon">From</span>
                    <input type="text" id="dateFrom" name="dateFrom" class="form-control input-sm" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <div class="input-group date" id="datetimepicker2">
                    <span class="input-group-addon">to</span>
                    <input type="text" id="dateTo" name="dateTo" class="form-control input-sm" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="form-group col-sm-2">
                <button id="loadReport" type="button" class="btn btn-sm btn-primary btn-group-justified"><i class="glyphicon glyphicon-filter"></i> Filter</button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-sm-12" style="display: none;">
            <div id="initMessage" class="alert alert-info" role="alert"></div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <div id="progressBar" class="progress progress-striped active" style="display: none;">
                <div class="progress-bar" style="width: 100%"></div>
            </div>        
        </div>
    </div>
    
    <div class="row">
        <!-- Suppliers List -->
        <div class="col-sm-4">
            <div id="panelSuppliersInfo" class="panel panel-primary">
                <div class="panel-heading">
                    <b>Suppliers</b>
                </div>
                <div class="panel-body scrollable-supplier-list">
                    <div id="tableContainer" class="" >
                        <table id="tableSuppliers" class="table table-striped table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-sm-2 text-center">
                                    </th>
                                    <th class="col-sm-8">
                                        Supplier
                                    </th>
                                    <th class="col-sm-2 MYKEY text-center">
                                        Score
                                    </th>
                                    <th class="sort col-sm-2 text-center">
                                        Grade
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <script id="row" type="text/html">
                            <tr>
                                <td>{tpids}</td>
                                <td>{namev}</td>
                                <td data-order="{scoreo}">{score}{symbol}</td>
                                <td>{grade}</td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Table Supplier Statistics -->
        <div class="col-sm-4">
            <div id="panelSupplierStatistics" class="panel panel-default">
                <div class="panel-heading">
                    <b>Statistics</b>
                </div>
                <div class="panel-body fixed-height">
                    <div id="tableContainer" class="table-responsive">
                        <table id="tableStatitics" class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-sm-4"></th>
                                    <th class="col-sm-2 text-right text-info">
                                        <b>Total</b>
                                    </th>
                                    <th class="col-sm-2 text-right text-success">
                                        <b>Success</b>
                                    </th>
                                    <th class="col-sm-2 text-right text-warning">
                                        <b>Warnings</b>
                                    </th>
                                    <th class="col-sm-2 text-right text-danger">
                                        <b>Error</b>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>        
        <!-- Panel Business Process by Results -->
        <div id="panelProcessByResults" class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>Business Process by Results</b>
                </div>
                <div class="panel-body fixed-height">
                    <button id="btnDrillup" onclick="onDrillup();" class="btn btn-xs pull-right" style="display: none;"><i class="glyphicon glyphicon-chevron-left"></i>Back</button>
                    <div id="activityByResultsChart" style="min-width: 300px; height: 25vh; max-width: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
        
        <!-- Syntax Compliance -->
        <div class="col-sm-4">
            <div id="panelSyntaxCompliance" class="panel panel-default">
                <div class="panel-heading">
                    <b>Syntax Compliance</b>
                </div>
                <div class="panel-body fixed-height">
                    <div id="syntaxComplianceChart" style="min-width: 300px; height: 28vh; max-width: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>

        <!-- Process Compliance -->
        <div class="col-sm-4">
            <div id="panelProcessCompliance" class="panel panel-default">
                <div class="panel-heading">
                    <b>Process Compliance</b>
                </div>
                <div class="panel-body fixed-height">
                    <div id="activityComplianceChart" style="min-width: 300px; height: 28vh; max-width: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}

<script type="text/javascript">
    var chart;
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $('#initMessage').html('<i class="glyphicon glyphicon-info-sign"></i> Select a report and a date interval then click the Filter button.').fadeIn(300).delay(5000).fadeOut(500);

        var today = new Date();
        var todayS = today.toLocaleDateString();//(today.getUTCMonth() +1) + '/' + today.getUTCDate() + '/' + today.getUTCFullYear();

        var aMonthAgo = new Date();
        aMonthAgo.setMonth(today.getMonth() - 1);
        aMonthAgo = aMonthAgo.toLocaleDateString();//(today.getUTCMonth()) + '/' + today.getUTCDate() + '/' + today.getUTCFullYear();

        var aYearAgo = new Date();
        aYearAgo.setMonth(today.getMonth() - 24);
        aYearAgo = aYearAgo.toLocaleDateString();//(today.getUTCMonth() +1) + '/' + today.getUTCDate() + '/' + (today.getUTCFullYear() -1);

        {% if dateFrom is defined and dateFrom is not empty %}
            var date1 = '{{ dateFrom }}';
        {% else %}
            var date1 = aMonthAgo;
        {% endif %}

        {% if dateTo is defined and dateTo is not empty %}
            var date2 = '{{ dateTo }}';
        {% else %}
            var date2 = todayS;
        {% endif %}


        $('#report').change(function () {
            var url = '{{ path('hub_dashboard_discrepancies', { 'report': '_report' }) }}';
            url = url.replace('_report', $(this).find(':selected').val());
            window.location = url;
        });

        $('span:has(input:radio[name="period"])').click(function () {
            $('span:has(input:radio[name="period"])').removeClass('btn-primary');
            $(this).addClass('btn-primary');
            $(this).find('input:radio[name="period"]').prop('checked', true);
            $('.panel').fadeOut(300).fadeIn(300);
        });

        $('#datetimepicker1').datetimepicker({
            pickTime: false,
            maxDate: date2,
            minDate: aYearAgo,
            defaultDate: date1
        });

        $('#datetimepicker2').datetimepicker({
            pickTime: false,
            maxDate: date2,
            minDate: aYearAgo,
            defaultDate: date2
        });      
        
        var t = $('#tableSuppliers').DataTable({
                lengthChange: false, 
                ordering: true, 
                processing: true,
                searching   : true,
                paging: false,
                retrieve: true,
                columnDefs  : [
                    {visible: false, targets: 0 },
                    {targets   : 'nosearch',visible: false,searchable: false},
                    {targets   : 'nosearch',searchable: false},
                    {targets : 'nosort',sortable: false},
                    {targets      : 'radio',orderDataType: 'dom-radio'},
                    {targets: 'MYKEY',data: {_: "MYKEY.display",sort: "MYKEY.@data-order",type: "MYKEY.@data-order"}}
                ],
                order: [[$('th.sort').index(), 'asc']] 
        });
        
        $('#loadReport').click(function(){
            $('.panel').fadeOut(300);
            $('#progressBar').delay(300).fadeIn(300).fadeOut(300);
            $('.panel').delay(600).fadeIn(300);      
            if ( $.fn.dataTable.isDataTable('#tableSuppliers') ) {
                $.fn.dataTable.ext.errMode = 'none';
                t.clear();    
                t.processing(true);
                suppliers(getReportURL($("#report").val(), 'sup'),suppliers_success,t); 
                setTimeout( function () {
                    t.processing(false);
                }, 30000 );                  
            }
                       
            loadTablesStatistics();
            $('#tableStatitics').DataTable({lengthChange: false, ordering: false, paging: false, bFilter: false,info:false});
            loadSyntaxCompliance();
            loadProcessCompliance();
            loadProcessByResults();            
        }); 
        
        if ( $.fn.dataTable.isDataTable('#tableSuppliers') ) {   
            t.processing( true );
            suppliers(getReportURL($("#report").val(), 'sup'),suppliers_success,t);     
            setTimeout( function () {
                t.processing(false);
            }, 30000 );            
            $('#tableSuppliers tbody').on('click', 'tr', function () {
                var urld = '{{ path('hub_dashboard_scorecard', {'dateFrom':'_dateFrom','dateTo':'_dateTo','id':'_id', 'supplier':'_supplier'})}}';
                var data = t.row($(this)).data();
                $(this).toggleClass('info');
                $(this).css('cursor', 'pointer');
                $(this).removeClass('info');
                $('.panel').fadeOut(300);
                $('#progressBar').delay(300).fadeIn(300).fadeOut(300);            
                urld = urld.replace(/\&amp;/g, '&');
                urld = urld.replace('_dateFrom', $("#dateFrom").val());
                urld = urld.replace('_dateTo', $("#dateTo").val());       
                urld = urld.replace('_id', data[0]);
                urld = urld.replace('_supplier', data[1]);
                window.location = urld;          
            });        
        }
        
        loadTablesStatistics();
        $('#tableStatitics').DataTable({lengthChange: false, ordering: false, paging: false, bFilter: false, info:false});
        loadSyntaxCompliance();
        loadProcessCompliance();
        loadProcessByResults();

    });

    //function loadTableSuppliers() {
    //    var urld = '{{ path('hub_dashboard_scorecard', {'dateFrom':'_dateFrom','dateTo':'_dateTo','id':'_id', 'supplier':'_supplier'})}}';
    //    return getSuppliersScore(getReportURL($("#report").val(), 'sup'), urld);        
    //}

    function loadSyntaxCompliance() {
        getSyntaxCompliance(getReportURL($("#report").val(), 'scp'));        
    }

    function loadProcessCompliance() {
        getProcessCompliance(getReportURL($("#report").val(), 'pcp'));
    }
    
    function loadTablesStatistics() {
        getStatistics(getReportURL($("#report").val(), 'sta'));
    }    

    function loadProcessByResults() {
        getProcessByResults(getReportURL($("#report").val(), 'pbr'));
    }
    
    function getReportURL(report, subreport, serieID){
        var url = '{{ path('load_scored', { 'report': '@report', 'subreport': '@subreport', 'dateFrom': '@date1', 'dateTo': '@date2', 'serieID': '@serieid', 'parentSerieID': '@parentserieid' }) }}';
        url = url.replace('@report', report);
        url = url.replace('@subreport', subreport);
        url = url.replace('@date1', $("#dateFrom").val().replace(/\//g,'-'));
        url = url.replace('@date2', $("#dateTo").val().replace(/\//g,'-'));
        url = url.replace('@serieid', serieID ? serieID : '-1');
        url = url.replace('@parentserieid', $('#chartBack').data('backid') ? $('#chartBack').data('backid') : '-1');
        return url;
    }  

</script>
{% endblock %}
