{% extends '::base.html.twig' %}

{% block body %}

    <div class="row">
        <form id="formFilter" name="formFiter" action="." method="post">
            <div class="form-group col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">Report</span>
                    <select id="report" name="report" class="form-control input-sm">
                        <option value="scorecard">Scorecard</option>
                        <option value="po-ack-discr">PO (850) - PO Ack (855) Discrepancies</option>
                        <option value="po-asn-discr">PO (850) - ASN (856) Discrepancies</option>
                        <option value="po-inv-discr">PO (850) - Invoice (810) Discrepancies</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <div class="input-group date" id="datetimepicker1">
                    <span class="input-group-addon">From</span>
                    <input type="text" id="dateFrom" name="dateFrom" class="form-control input-sm" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <div class="input-group date" id="datetimepicker2">
                    <span class="input-group-addon">to</span>
                    <input type="text" id="dateTo" name="dateTo" class="form-control input-sm" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="form-group col-sm-2">
                <button id="loadReport" type="button" class="btn btn-sm btn-primary btn-group-justified"><i class="glyphicon glyphicon-filter"></i> Filter</button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-sm-12" style="display: none;">
            <div id="initMessage" class="alert alert-info" role="alert"></div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <div id="progressBar" class="progress progress-striped active" style="display: none;">
                <div class="progress-bar" style="width: 100%"></div>
            </div>        
        </div>
    </div>

    <div class="row">
        <!-- Suppliers Score -->
        <div class="col-sm-4">
            <div id="panelSuppliersInfo" class="panel panel-primary">
                <div class="panel-heading">
                    <div class="pull-left">
                        <a id="btnBack" class="btn btn-xs btn-primary" href="{{ path('hub_dashboard_homepage') }}" data-backid="" data-toggle="tooltip" data-placement="top" title="Back"><i class="glyphicon glyphicon-chevron-left"></i>Back</a>
                    </div>
                    &nbsp;&nbsp;<b><span id="supplierName">{{ app.request.get('supplier') }}</span></b>
                    <!--div class="pull-right">
                        <a id="btnSelectSupplier" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#selectSupplier"><i class="glyphicon glyphicon-filter"></i> Filter</a>
                    </div-->
                </div>
                <div class="panel-body fixed-height">
                    <div id="tableContainer">
                        <table id="supplierInfo" class="table table-hover table-condensed">
                            <tbody>
                                <tr>
                                    <th class="col-sm-6">
                                        Score
                                    </th>
                                    <td class="col-sm-6 text-center">
                                        <span id="score"></span>%
                                    </td>
                                </tr>
                                <tr>
                                    <th class="">
                                        Grade
                                    </th>
                                    <td class="text-center">
                                        <b><span id="grade" class="label"></span></b>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                    </th>
                                    <td class="text-center text-warning" id="stars">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Table Supplier Statistics -->
        <div class="col-sm-4">
            <div id="panelSupplierStatistics" class="panel panel-default">
                <div class="panel-heading">
                    <b>Statistics</b>
                </div>
                <div class="panel-body fixed-height">
                    <div id="tableContainer">
                        <table id="tableStatitics" class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-sm-4">

                                    </th>
                                    <td class="col-sm-2 text-right text-info">
                                        <b>Total</b>
                                        </th>
                                    <td class="col-sm-2 text-right text-success">
                                        <b>Success</b>
                                        </th>
                                    <td class="col-sm-2 text-right text-warning">
                                        <b>Warnings</b>
                                        </th>
                                    <td class="col-sm-2 text-right text-danger">
                                        <b>Error</b>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>        
        <!-- Business Process by Results -->
        <div id="panelProcessByResults" class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>Business Process by Results</b>
                </div>
                <div class="panel-body fixed-height">
                    <button id="btnDrillup" onclick="onDrillup();" class="btn btn-xs pull-right" style="display: none;"><i class="glyphicon glyphicon-chevron-left"></i> Back</button>
                    <div id="activityByResultsChart" style="min-width: 300px; height: 28vh; max-width: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Syntax Compliance -->
        <div class="col-sm-4 col-sm-offset-4">
            <div id="panelSyntaxCompliance" class="panel panel-default">
                <div class="panel-heading">
                    <b>Syntax Compliance</b>
                </div>
                <div class="panel-body fixed-height">
                    <div id="syntaxComplianceChart" style="min-width: 300px; height: 28vh; max-width: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>

        <!-- Process Compliance -->
        <div class="col-sm-4">
            <div id="panelProcessCompliance" class="panel panel-default">
                <div class="panel-heading">
                    <b>Process Compliance</b>
                </div>
                <div class="panel-body">
                    <div id="activityComplianceChart" style="min-width: 300px; height: 28vh; max-width: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}

<script type="text/javascript">
    var chart;
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $('#initMessage').html('<i class="glyphicon glyphicon-info-sign"></i> Select a report and a date interval then click the Filter button.').fadeIn(300).delay(5000).fadeOut(500);

        var today = new Date();
        var todayS = today.toLocaleDateString();//(today.getUTCMonth() +1) + '/' + today.getUTCDate() + '/' + today.getUTCFullYear();

        var aMonthAgo = new Date();
        aMonthAgo.setMonth(today.getMonth() - 1);
        aMonthAgo = aMonthAgo.toLocaleDateString();//(today.getUTCMonth()) + '/' + today.getUTCDate() + '/' + today.getUTCFullYear();

        var aYearAgo = new Date();
        aYearAgo.setMonth(today.getMonth() - 24);
        aYearAgo = aYearAgo.toLocaleDateString();//(today.getUTCMonth() +1) + '/' + today.getUTCDate() + '/' + (today.getUTCFullYear() -1);

        {% if dateFrom is defined and dateFrom is not empty %}
            var date1 = '{{ dateFrom }}';
        {% else %}
            var date1 = aMonthAgo;
        {% endif %}

        {% if dateTo is defined and dateTo is not empty %}
            var date2 = '{{ dateTo }}';
        {% else %}
            var date2 = todayS;
        {% endif %}


        $('#report').change(function () {
            var url = '{{ path('hub_dashboard_discrepancies', { 'report': '_report' }) }}';
            url = url.replace('_report', $(this).find(':selected').val());
            window.location = url;
        });


        $('span:has(input:radio[name="period"])').click(function () {
            $('span:has(input:radio[name="period"])').removeClass('btn-primary');
            $(this).addClass('btn-primary');
            $(this).find('input:radio[name="period"]').prop('checked', true);
            $('.panel').fadeOut(300).fadeIn(300);
        });

        $('#datetimepicker1').datetimepicker({
            pickTime: false,
            maxDate: date2,
            minDate: aYearAgo,
            defaultDate: date1
        });

        $('#datetimepicker2').datetimepicker({
            pickTime: false,
            maxDate: date2,
            minDate: aYearAgo,
            defaultDate: date2
        });

        $('#loadReport').click(function(){
            $('.panel').fadeOut(300);
            $('#progressBar').delay(300).fadeIn(300).fadeOut(300);
            $('.panel').delay(600).fadeIn(300);
        });
        
        loadInfoSupplier();
        loadTablesStatistics();
        loadSyntaxCompliance();
        loadProcessCompliance();
        loadProcessByResults();

    });

    function loadInfoSupplier() {
        var url = getReportURL($("#report").val(), 'sup',{{ app.request.get('id')}}); 
        //alert('urlsup: ' + url)
        getSuppliersScore(url);           
    }

    function loadSyntaxCompliance() {
        getSyntaxCompliance(getReportURL($("#report").val(), 'scp', {{ app.request.get('id') }}));        
    }

    function loadProcessCompliance() {
        getProcessCompliance(getReportURL($("#report").val(), 'pcp', {{ app.request.get('id') }}));
    }
    
    function loadTablesStatistics() {
        getStatistics(getReportURL($("#report").val(), 'sta', {{ app.request.get('id') }}));
    }    

    function loadProcessByResults() {
        getProcessByResults(getReportURL($("#report").val(), 'pbr', {{ app.request.get('id') }}));
    }

    function getReportURL(report, subreport, serieID){
        var url = '{{ path('load_scored', { 'report': '@report', 'subreport': '@subreport', 'dateFrom': '@date1', 'dateTo': '@date2', 'serieID': '@serieid', 'parentSerieID': '@parentserieid' }) }}';
        url = url.replace('@report', report);
        url = url.replace('@subreport', subreport);
        url = url.replace('@date1', $("#dateFrom").val().replace(/\//g,'-'));
        url = url.replace('@date2', $("#dateTo").val().replace(/\//g,'-'));
        url = url.replace('@serieid', serieID ? serieID : '-1');
        url = url.replace('@parentserieid', $('#chartBack').data('backid') ? $('#chartBack').data('backid') : '-1');
        return url;
    }  
    
</script>

{% endblock %}
