{% extends '::base.html.twig' %}

{% block body %}

    <div class="row">
        <form id="formFilter" name="formFiter" action="." method="post">
            <div class="form-group col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">Report</span>
                    <select id="report" name="report" class="form-control input-sm">
                        <option value="partner-raintg">Partner Rating</option>
                    </select>
                </div>
            </div>
            <!--div class="form-group col-sm-4">
                <div class="btn-group btn-group-sm btn-group-justified">
                    <span class="btn btn-sm btn-default btn-primary">
                        Last 30 days<input type="radio" id="last-30" name="period" value="30" checked="true" style="display:none;" />
                    </span>
                    <span class="btn btn-sm btn-default">
                        Last 60 days<input type="radio" id="last-60" name="period" value="60" style="display:none;" />
                    </span>
                    <span class="btn btn-sm btn-default">
                        Last 90 days<input type="radio" id="last-90" name="period" value="90" style="display:none;" />
                    </span>
                </div>
            </div-->
            <div class="form-group col-sm-2">
                <div class="input-group date" id="datetimepicker1">
                    <span class="input-group-addon">From</span>
                    <input type="text" id="dateFrom" name="dateFrom" class="form-control input-sm" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="form-group col-sm-2">
                <div class="input-group date" id="datetimepicker2">
                    <span class="input-group-addon">to</span>
                    <input type="text" id="dateTo" name="dateTo" class="form-control input-sm" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="form-group col-sm-2">
                <button id="loadReport" type="button" class="btn btn-sm btn-primary btn-group-justified"><i class="glyphicon glyphicon-filter"></i> Filter</button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-sm-12" style="display: none;">
            <div id="initMessage" class="alert alert-info" role="alert"></div>
        </div>
    </div>

    <div class="row">
        <!-- Table Suppliers List -->
        <div class="col-sm-10 col-sm-offset-1">
            <div id="tableContainer" class="scrollable-supplier-list-" style="display:">
                <table id="tableSuppliers" class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="col-sm-6">
                                Supplier
                            </th>
                            <th class="col-sm-2 text-center">
                                Score
                            </th>
                            <th class="col-sm-2 text-center">
                                Grade
                            </th>
                            <th class="col-sm-2">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Supplier 1
                            </td>
                            <td class="text-center">
                                95%
                            </td>
                            <td class="text-center">
                                <span class="label label-success"><b>A</b></span>
                            </td>
                            <td class="text-warning">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12">
                <div id="progressBar" class="progress progress-striped active" style="display: none;">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>        
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();

            $('#initMessage').html('<i class="glyphicon glyphicon-info-sign"></i> Select a report and a date interval then click the Filter button.').fadeIn(300).delay(5000).fadeOut(500);

            var today = new Date();
            var todayS = today.toLocaleDateString();//(today.getUTCMonth() +1) + '/' + today.getUTCDate() + '/' + today.getUTCFullYear();

            var aMonthAgo = new Date();
            aMonthAgo.setMonth(today.getMonth() - 1);
            aMonthAgo = aMonthAgo.toLocaleDateString();//(today.getUTCMonth()) + '/' + today.getUTCDate() + '/' + today.getUTCFullYear();

            var aYearAgo = new Date();
            aYearAgo.setMonth(today.getMonth() - 24);
            aYearAgo = aYearAgo.toLocaleDateString();//(today.getUTCMonth() +1) + '/' + today.getUTCDate() + '/' + (today.getUTCFullYear() -1);

        {% if dateFrom is defined and dateFrom is not empty %}
                var date1 = '{{ dateFrom }}';
        {% else %}
                var date1 = aMonthAgo;
        {% endif %}

        {% if dateTo is defined and dateTo is not empty %}
                var date2 = '{{ dateTo }}';
        {% else %}
                var date2 = todayS;
        {% endif %}

                $('span:has(input:radio[name="period"])').click(function() {
                    $('span:has(input:radio[name="period"])').removeClass('btn-primary');
                    $(this).addClass('btn-primary');
                    $(this).find('input:radio[name="period"]').prop('checked', true);
                    $('.panel').fadeOut(300).fadeIn(300);
                });

                $('#datetimepicker1').datetimepicker({
                    pickTime: false,
                    maxDate: today,
                    minDate: aYearAgo,
                    defaultDate: date1,
                });

                $('#datetimepicker2').datetimepicker({
                    pickTime: false,
                    maxDate: today,
                    minDate: aYearAgo,
                    defaultDate: date2,
                });

                /*
                 $("#datetimepicker1").on("dp.change",function (e){
                 $('#datetimepicker2').data("DateTimePicker").setMinDate(e.date);
                 });
                 $("#datetimepicker2").on("dp.change",function (e){
                 $('#datetimepicker1').data("DateTimePicker").setMaxDate(e.date);
                 });
                 */

                loadSuppliers();
                $('#tableSuppliers').dataTable();

                $('#tableSuppliers > tbody > tr')
                        .css('cursor', 'pointer')
                        .click(function() {
                            $('#tableSuppliers > tbody > tr').removeClass('info');
                            $(this).toggleClass('info');
                            $('.panel-default').fadeOut(300);
                            $('#tableSupplier > thead > tr > th:eq(0)').html($(this).find('td:eq(0)').html());
                            $('.panel-default').fadeIn(300);
                            
                            var url = '{{ path("hub_dashboard_scorecard", {'supplier': '_supplier'}) }}';
                            var supplier = $(this).find('td:eq(0)').html().trim();
                            url = url.replace('_supplier', supplier);
                            window.location = url;
                        });

            });


            function loadSuppliers() {
                var tr = '';
                for (var i = 2; i <= 100; i++) {
                    tr += '<tr>';
                    tr = '    <td>';
                    tr += '        Supplier ' + i;
                    tr += '    </td>';
                    tr += '    <td class="text-center">';
                    tr += '        95%';
                    tr += '    </td>';
                    tr += '    <td class="text-center">';
                    tr += '        <span class="label label-success"><b>A</b></span>';
                    tr += '    </td>';
                    tr += '    <td class="text-warning">';
                    tr += '        <span class="glyphicon glyphicon-star"></span>';
                    tr += '        <span class="glyphicon glyphicon-star"></span>';
                    tr += '        <span class="glyphicon glyphicon-star"></span>';
                    tr += '        <span class="glyphicon glyphicon-star"></span>';
                    tr += '        <span class="glyphicon glyphicon-star"></span>';
                    tr += '    </td>';
                    tr += '</tr>';
                    $('#tableSuppliers > tbody').html( $('#tableSuppliers > tbody').html() + tr );
                }
            }

    </script>

{% endblock %}
