{% extends "::base.html.twig" %}

{% block title %}HubDashboardBundle:Scorecard:processCompliance{% endblock %}

{% block body %}
<h1>Welcome to the Scorecard:processCompliance page</h1>
{% endblock %}
