{% extends "::base.html.twig" %}

{% block title %}HubDashboardBundle:Scorecard:syntaxCompliance{% endblock %}

{% block body %}
<h1>Welcome to the Scorecard:syntaxCompliance page</h1>
{% endblock %}
